[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Blender documents
X-KDE-ServiceTypes=ThumbCreator
ServiceTypes=ThumbCreator
MimeType=application/x-blender;application/x-gzip;
X-KDE-Library=blender-thumbnailer-kde
CacheThumbnail=true
